.color-1 {
    background-color: #2C3532;
}

.color-2 {
    background-color: #0F6466;
}

.color-3 {
    background-color: #D8B08C;
}

.color-4 {
    background-color: #FFCB9A;
}

.color-5 {
    background-color: #D2E8E3;
}

.fuente-Archivo {
    font-family: 'Archivo', sans-serif;
}

.fuente-Bebas {
    font-family: 'Bebas Neue', serif;
}

.fuente-Open {
    font-family: 'Open Sans', sans-serif;
}